@model IEnumerable<ZameenCRM.Models.ViewModel>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">All Block</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.block.BlockName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.block.BlockAddress)
                                </th>
                                <th>
                                    Actions
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.block.BlockName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.block.BlockAddress)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.block.BlockId">Edit</a> |
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

    </div>
</div>
