@model IEnumerable<ZameenCRM.Models.AddPlatterVM>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                @*<h4 class="card-title">All Block</h4>*@
            </div>
            <div class="card-body">
                <div class="row">
                    <table class="table" id="data-table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.PlatterName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.RebutAmount)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Area)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Quantity)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ProjectName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BlockName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TypeName)
                                </th>
                                <th>
                                    Actions
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                @foreach (var item in Model)
                                {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PlatterName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RebutAmount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Area)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Quantity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProjectName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BlockName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TypeName)
                                </td>
                                <td>
                                    <a asp-action="DeleteRow" asp-controller="Platter" asp-route-id="@item.Recno">Delete</a>
                                </td>
                            </tr>
                                }
                            }

                        </tbody>
                    </table>
                    <div class="form-group mt-2">
                        <a href="/Platter/SavePlat" class="btn btn-primary" onclick="checkTableAndSubmit(event)">Save</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<script>
    function checkTableAndSubmit(event) {
        var table = document.getElementById("data-table");
        if (table.rows.length === 1 && table.rows.length === 1) {
            // Prevent the form submission if the table is empty
            event.preventDefault();
            alert("Empty Platter Data");
        }
        // If the table is not empty, the form submission will proceed as usual.
    }
</script>




