@model IEnumerable<ZameenCRM.Models.ViewModel>
@{
    ViewData["Title"] = "Filter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>All Files</h1>


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Select Platter</h4>
                <a href="/File/Index" class="btn btn-success">Add New File</a>

            </div>
            <div class="card-body">
                <form id="platterForm" method="post" asp-action="Filter">
                    <div class="row">
                        <div class="col-xl-4 col-md-6 col-12">
                            @*@Html.DropDownList("platID", new SelectList(ViewBag.Platter, "PlatterNo", "Description"), "Select Platter", new { @class = "form-control input-sm" })*@
                            @Html.DropDownList("platID", ViewBag.Platter as SelectList, "Select Platter", new { @class = "form-control input-sm" })
                        </div>
                        <div class="form-group mt-2">
                            <input type="submit" value="Submit" class="btn btn-primary" />
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Add Platter</h4>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.file.FileNo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.file.Marla)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.file.Area)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.file.Amount)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.pro.ProjectName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.block.BlockName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.file.Status)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.file.FileNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.file.Marla)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.file.Area)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.file.Amount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.pro.ProjectName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.block.BlockName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.file.Status)
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

