@model IEnumerable<ZameenCRM.Models.ViewModel>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">All Files</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.file.FileNo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.file.Marla)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.file.Area)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.file.Amount)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.block.BlockName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.type.TypeName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.pro.ProjectName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.file.Status)
                                </th>
                                @*<th>
            Actions
        </th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.file.FileNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.file.Marla)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.file.Area)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.file.Amount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.block.BlockName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.type.TypeName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.pro.ProjectName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.file.Status)
                                </td>
                                @*<td>
            <a asp-action="Edit" asp-route-id="@item.file.FileId">Edit</a> |
        </td>*@
                            </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

    </div>
</div>
