@model IEnumerable<ZameenCRM.Models.ProjectVM>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">All Project</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.pro.ProjectName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.site.SiteName)
                                </th>
                                <th>
                                    Actions
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.pro.ProjectName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.site.SiteName)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.pro.ProjectID">Edit</a> |
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

    </div>
</div>
